.small-card-container{
    display: flex;
    flex-direction: column;
    background: #1c1f1e;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
    transition: background 2s, border 2s;
    border: solid #000000 2px;
}

.small-card-container:hover{
    background: #303634;
    border: solid rgb(11, 182, 235) 2px;
}

.small-card-img-container{
    display: flex;
    
}

.small-card-img-cotainer img{
    width: 100%;
    min-width: 160px;
    border-radius: .5rem;
}

.small-card-title{
    display: flex;
    padding: .5rem;
    flex-direction: column;
}

@media(min-width: 425px){
    .small-card-img-cotainer img{
        width: 100%;
        min-width: 180px;
    }
}

@media(min-width: 768px){
    .small-card-container{
        flex-direction: row;
    }

    .small-card-img-cotainer{
        max-width: 60%;
    }
   
}