.banner-container{
    display: flex;
    justify-content: center;
    margin-top: 90px;
    align-items: center;
    border-bottom: solid #2f332e 2px;
    font-family:'Times New Roman', 'Times';
}

.banner-title{
    display: flex;
    list-style-type: none;
    font-size: 3rem;
    font-weight: 700;
    transition: font-size 1s;
}


@media(min-width: 425px){
    .banner-title{
        font-size: 4em;
    }
}

@media(min-width: 768px){
    .banner-title{
        font-size: 8em;
    }
}

@media(min-width: 1024px){
    .banner-title{
        font-size: 10em;
    }
}