<div>
    <app-banner></app-banner>
</div>
<div class="articles">
    <div class="articles-main">
        <app-big-card 
        id={{mainNews.id}}
        imgUrl={{mainNews.imgUrl}}
        cardTitle={{mainNews.title}}
        description={{mainNews.description}}
        ></app-big-card>
</div>
<div class="articles-other">
    <ul class="articles-other-list">
        <li class="card-item"
         *ngFor="let i of newsList">
            <app-small-card
            id={{i.id}}
            imgUrl={{i.imgUrl}}
            cardTitle={{i.title}}></app-small-card>
        </li>
    </ul>
</div>

</div>