.articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.articles-main{
    width: 100%;
    height: auto;
    padding: .25rem;
}

.articles-other{
    width: 100%;
    height: auto;
    padding: .25rem;
}

.articles-other ul {
    display: flex;
    list-style-type: none;
    overflow-x: scroll;
    max-height: 607.28px;
}

.articles-other li{
    margin-right: .6rem;
}

@media(min-width: 768px){
    .articles{
        flex-direction: row;
    }

    .articles-main{
        width: 50%;
        height: 100vh;
    }

    .articles-other{
        width: 50%;
        height: 100vh;
    }
    .articles-other ul {
        flex-direction: column;
        overflow-x: unset;
        overflow-y: scroll;
    }
    .articles-other li{
        margin-right: none;
        margin-bottom: .6rem;
    }
}

@media(min-width: 1024px){
    .articles-other ul{
        max-height: 555px;
    }
}