*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000000;
    color: #ffffff;
    font-family: 'Roboto', 'sans';
}

a {
    text-decoration: none;
    color: #ffffff;
}

.gray-25{
    color: #797e7e;
}

.gray-50{
    background: #303634;
}

.gray-100{
    background: #1c1f1e;
}