<div class="big-card-container">
    <div class="big-card-img-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVZSJTwiMLIN4ai57eeoUFNsAFjCgxJtrXkA&usqp=CAU" alt="image">
    </div>
    <div class="big-card-title">
        <h3>Lorem ipsum dolor sit amet consectetur adipiscing,
             elit.</h3>
    </div>
    <div class="big-card-description">
        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit sem finibus faucibus taciti venenatis,
             interdum fringilla arcu dictum senectus nibh habitasse nullam habitant conubia montes,
              eget fusce facilisi malesuada dis nec pretium phasellus a pulvinar pellentesque.
               Consectetur purus ante malesuada aenean mauris mattis pellentesque, pulvinar phasellus ornare viverra maximus morbi ligula,
                laoreet tempor tincidunt arcu habitant praesent. Ante hendrerit dapibus lacinia efficitur eu sollicitudin velit orci,
                luctus mi et ornare aenean dis dictum primis, maximus sit malesuada erat porttitor ridiculus purus.
                Rhoncus suspendisse in auctor luctus efficitur montes aptent maximus laoreet enim,
                vivamus ac euismod ante eros aliquet tempor dictum sollicitudin primis semper,
                eros malesuada natoque non orci metus lacus curabitur adipiscing curae.
        </p>
    </div>
</div>
