.nav-bar-container{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100px;
}

.logo-container{
    display: flex;
    width: fit-content;
    height: auto;
}

.img-logo{
    width: 40px;
    height: auto;
    border-radius: 50%;
    filter: hue-rotate(146deg) brightness(1.3) saturate(140%);
}

.contact-container{
    display: flex;
}

.contact-container a {
    text-decoration: none;
    color: #ffffff;
}

.contact-list{
    display: none;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
}

.contact-list li{
    font-size: 20px;
    margin: 5px;
}

@media (min-width: 768px){
    .contact-list{
        display: flex;
    }
}