.menu-list-container{
    display: flex;
    flex-direction: column;
    height: auto;
}

.btn-menu-container{
    display: flex;
    justify-content: flex-end;
}

.btn-burguer{
    display: flex;
    width: fit-content;
    border-radius: 50%;
    background: #000000;
    border: #000000;
}

#burguer-menu{
    padding: .3rem;
    background: #000000;
    color: #ffffff;
    border-radius: 50%;
    transition: background 2s, border 2s;
    border: solid #000000 2px;
}

#burguer-menu:hover{
    border: solid rgb(11, 182, 235) 2px;
    background:rgb(109, 156, 194);
    cursor: pointer;
}

.contact-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background: #000000;
    position: absolute;
    top: 75px;
    right: 20px;
    padding: 1rem;
    border-radius: .2rem;
}

.contact-list li{
    margin: .5rem;
    font-size: 20px;
    font-family: 'Roboto', 'sans';
    font-weight: bold;
}
.contact {
    color: #ffffff;
    font-size: 20px;
    transition: font-size 2s;
}

.contact:hover{
    font-size: 23px;
}

@media(max-width: 425px){
    .contact-list{
        width: 160px;
        height: 160px;
        justify-content: center;
        align-items: center;
        display: none;

        &.is-open{
            display: flex;
            background: #303634;
            border: solid rgb(11, 182, 235) 1px;
        }
    }
}

@media(min-width: 426px) {
    .btn-menu-container{
        display: none;
    }

    .contact-list{
        display: flex;
        flex-direction: row;
        top: 6px;
        right: 0px;
        border: solid #000000 1px;
    }
}