<div class="menu-list-container">
    <div class="btn-menu-container">
        <i id="burguer-menu" class="material-icons" (click)="toggleMenu()" >{{isOpenMenu ? "close" : "menu"}}</i>
    </div>
    
    <ul class="contact-list" [class.is-open]="isOpenMenu">
        <li><a class="contact" href="https://linkedin.com/in/thiago-santana-gonçalves-339127ab">LinkedIn</a></li>
        <li><a class="contact" href="https://github.com/T-G0nc4lv3s">GitHub</a></li>
        <li><a class="contact" href="https://www.instagram.com/thfight/">Instagram</a></li>
    </ul>
</div>
